@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../../public/fonts/montserrat-500.woff2") format("woff2"), url("../../public/fonts/montserrat-500.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../../public/fonts/montserrat-700.woff2") format("woff2"), url("../../public/fonts/montserrat-700.woff") format("woff");
}

